body {
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(92, 9, 49, 0.5)), to(#FFFFFF)) fixed;
}

.main-page{
    background-color: #FFFFFF;
    width: 400px;
    height: auto;
    margin: 3% auto 0;
    position: relative;
    border-radius: 10px;
    padding-top: 0.7%;
}

.main-title{
    font-size: 20px;
    color: #5C0931;
}

.first{
    margin-top: 5%;
}

.input{
    padding: 2%;
    margin: 3% auto;
    width: 254px;
    height: 38px;
    border-radius: 6px;
    border-width: 1px;

}

.calcular{
    background-color: #5C0931;
    margin: 3% auto 7% auto;
    color: #FFFFFF;
    width: 200px;

}

@media (max-width: 700px) {
    .main-page{
        margin: 5% auto 0;
        width: 370px;
        padding-top: 4%;
    }

    .calcular{
        width: 180px;
    }

    .input{
        padding: 2%;
        margin: 5% 0;
    }

    .right-inside{
        display: flex;
        margin: 0 auto;
        right: 0;
    }

    .left-inside{
        display: flex;
        margin-right: 10px;
    }

}

.span-teste{
    border: solid 1px;
    width: 20px;
    height: 20px;
    background-color: white;
    margin-left: 1px;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 6px;
}

.letter-box{
    margin-left: 3px;
}

.left-side{
    margin-left: 5%;
}

.final-box{
    margin-right: 4px;
}

.box-flex{
    display: flex;
}

.all-inside{
    display: flex;
    margin: 0 10% 0 auto;
    right: 0;
}