body {
    background:-webkit-gradient(linear, left top, left bottom, from(#5C0632), to(#747F8A)) fixed;
}

.main-page{
    background-color: #FFF2CC;
    width: 400px;
    height: 720px;
    margin: 10% auto;
    position: relative;
    border-radius: 2%;
    padding-top: 0.7%;
}

.first{
    margin-top: 5%;
}

.input{
    padding: 2%;
    margin: 3% 25%;
}

.calcular{
    background-color: #5C0632;
    margin: 4% 36%;
    color: white;
}

@media (max-width: 700px) {
    .main-page{
        width: 300px;
        padding-top: 4%;
    }

    .input{
        padding: 2%;
        margin: 5% 0;
    }
}

.span-teste{
    border: solid 1px;
    width: 20px;
    height: 20px;
    background-color: white;
    margin-left: 1px;
    text-align: center;
    padding-bottom: 20px;
}

.letter-box{
    margin-left: 7px;
}

.show-area{
    margin-left: 5px;
}

.final-box{
    margin-right: 4px;
}


.box-flex{
    display: flex;
}